<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    
    
    <!-- Vue resource -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    

</head>
<body>
    <div id="app">
        <header>
            <div class="header">
                <nav>
                    <ul>
                        <li><router-link to="/"><i class="fa fa-home"></i></router-link></li>
                        <li><router-link to="/get_weekdoes"><i class="fa fa-home"></i></router-link></li>
                    </ul>
                </nav>
            </div>
        </header>
        <div class="card">
            <img src="/static/images/mandag.jpeg" class="cardimg" alt="Avatar" style="width:100%">
            <div class="overlay">
                <div class="timelineheader">
                    <img src="/static/images/test1.png" class="hamicon" alt="menu">
                    <div class="weekdo_day">
                            <div class="weekdo_day_inner">
                                <h1 class="number_day">8</h1>
                                <div class="day_mount_year">
                                    <h3 class="weekday">Monday</h3>
                                    <span class="mounth_year_span">
                                        <h4 class="mounth" >Februar</h4>
                                        <h4 class="year">2015</h4>
                                    </span>
                                </div> 
                            </div>
                    </div>
                </div>
            </div>
            <div class="timeline">
                <div class="weekdocardcontainer right">
                    <div class="all_weekdo_container">
                        <h1 class="weekdotime">12:00</h1>
                        <p class="weekdodesc">Lorem per, habeo iusto primis ea eam.</p>
                    </div>
                    <div class="circle"><img src="{{url_for('static', filename='images/checkarrow2.png')}}" alt="" class="checkimg" style="width:100%; visibility: hidden;"></div>
                </div>
                <div class="weekdocardcontainer right">
                    <div class="all_weekdo_container">
                        <h1 class="weekdotime" >12:00</h1>
                        <p class="weekdodesc">Lorem per, habeo iusto primis ea eam.</p>
                    </div>
                    <div class="circle"><img src="{{url_for('static', filename='images/checkarrow2.png')}}" alt="" class="checkimg" style="width:100%; visibility: hidden;"></div>
                </div>
                <div class="weekdocardcontainer right">
                    <div class="all_weekdo_container">
                        <h1 class="weekdotime" >12:00</h1>
                        <p class="weekdodesc">Lorem per, habeo iusto primis ea eam.</p>
                    </div>
                    <div class="circle"><img src="{{url_for('static', filename='images/checkarrow2.png')}}" alt="" class="checkimg" style="width:100%; visibility: hidden;"></div>
                </div>
                <div class="weekdocardcontainer right">
                    <div class="all_weekdo_container">
                        <h1 class="weekdotime" >12:00</h1>
                        <p class="weekdodesc">Lorem per, habeo iusto primis ea eam.</p>
                    </div>
                    <div class="circle"><img src="{{url_for('static', filename='images/checkarrow2.png')}}" alt="" class="checkimg" style="width:100%; visibility: hidden;"></div>
                </div>
                <div class="weekdocardcontainer right">
                    <div class="all_weekdo_container">
                        <h1 class="weekdotime" >12:00</h1>
                        <p class="weekdodesc">Lorem per, habeo iusto primis ea eam.</p>
                    </div>
                    <div class="circle"><img src="{{url_for('static', filename='images/checkarrow2.png')}}" alt="" class="checkimg" style="width:100%; visibility: hidden;"></div>
                </div>
                <div class="timelineline"></div>
            </div>
        </div>


        <!-- <router-view></router-view> -->
    </div>
    

    <!-- A separate vue instance as global weekdoes -->
    <script src="/static/js/weekdoes.js"></script>
    <!-- vue components -->
    <script src="/static/js/components/setweekdo.js"></script>
    <script src="/static/js/components/weekdocomponent.js"></script>
    <script src="/static/js/components/main.js"></script>

    <!-- main vue instance -->
    <script src="/static/js/app.js"></script>
</body>
</html>