<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    
    
    <!-- Vue resource -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    

</head>
<body>
    <div id="app">
        <router-view></router-view>
        
        <fieldset class="add_input_field" >
            <input type="time" name="" id="">
            <input type="text" name="" >
        </fieldset>
    </div>
    

    <!-- A separate vue instance as global weekdoes -->
    <script src="/static/js/weekdoes.js"></script>
    <!-- vue components -->
    <script src="/static/js/components/setweekdo.js"></script>
    <script src="/static/js/components/weekdocomponent.js"></script>
    <script src="/static/js/components/main.js"></script>

    <!-- main vue instance -->
    <script src="/static/js/app.js"></script>
</body>
</html>